<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="30 seconds">

    <!--  адаптер пишет в консоль консоль  -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- адаптер пишет в файл -->
        <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>log/jdbc.log</file>
            <prudent>true</prudent>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- разбиваем лог-файлы по дням -->
                <fileNamePattern>jdbc-%d{yyyy-MM-dd}.log</fileNamePattern>
            </rollingPolicy>
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} %-5level [thread] %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
    <!-- будет логироваться все, что выше уровня INFO  -->
            <root level="INFO">
                <appender-ref ref="console"/>
                <appender-ref ref="file"/>
            </root>
        </configuration>